.left-panel {
  overflow-y: auto;

  .navigation {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .nav-item {
      height: 5rem;
      width: 70%;
      color: rgb(15, 20, 25);

      .nav-item-content-wrapper {
        text-align: center;
        color: rgb(15, 20, 25);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: fit-content;
        padding: 0 1.2rem;
        border-radius: 40px;

        &:hover {
          background-color: darken(white, 10%);
        }

        .nav-item-text {
          margin-left: 1rem;
          font-size: 1.5rem;
        }
      }

    }

    a.nav-item:active {
      text-decoration: none;
    }

    a.nav-item:link {
      text-decoration: none;
    }

    a.nav-item:visited {
      text-decoration: none;
    }

    a.nav-item:hover {
      text-decoration: none;
    }
  }
}

.svg-menu-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.logo-container {
  margin-top: 1rem;
  text-align: center;

  #chirp-logo {
    width: 6rem;
  }

}


@media (max-width: 1024px) {
  .nav-item-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added for better cross-browser support */
    border: 0;
  }
}
