.center-panel {
  display: flex;
  flex-direction: column;

  app-timeline {
    height: 100%;
    border: 1px solid black;
  }

  app-add-post {
    height: 50%;
    background-color: green;
    border: 1px solid black;
  }
}
