#login-page-wrapper {
  background-image: url('~src/assets/background-images/pattern-background-desktop.svg');
  background-repeat: repeat-x;
  background-color: hsl(225, 100%, 94%);
  background-size: 100% 50%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: start;
  padding: 5rem 2rem 0; // top right/left bottom
}

#login-card {
  width: 100%;
}

#login-card-heading {
  text-align: center;
  color: #3f51b5;
  font-weight: 1000;
  margin-bottom: 2rem;
}

#login-form-inputs > mat-form-field {
  display: flex;
}

#login-form > button[type='submit'] {
  width: 100%;
}

#chirp-logo {
  width: 40%;
  border-radius: 1rem 1rem 0 0;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#register-link-wrapper {
  font-size: 1rem;
  margin-top: 1rem;
  a[mat-button] {
    color: #3f51b5;
    font-weight: 1000;
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  #login-card {
    width: 40%;
  }
}
