.post {
  display: flex;
}

.post-details {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.name {
  color: black;
}

.username {
  text-decoration: none;
}

.user-profile-picture {
  width: 50px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.avg-action-icon {
  width: 1rem;
  height: 1rem;
}
