<div *ngIf="authenticatedUser" class="container">
  <div class="user-profile-picture-container">
    <img [src]="authenticatedUser.data.profile_picture" alt="user profile picture" class="user-profile-picture"/>
  </div>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <textarea matInput class="input-post" placeholder="What is happening?!" name="postTextContent" #postInput
                [(ngModel)]="postTextContent"
                (input)="onPostInputChange()"></textarea>
    </mat-form-field>
    <div *ngIf="postImageDataURL">
      <img [src]="postImageDataURL" alt="selected image" class="selected-image"/>
    </div>
    <div class="actions">
      <div>
        <label for="postImage">
          <svg viewBox="0 0 24 24" class="post-image-input-icon">
            <path
              d="M3 5.5C3 4.119 4.119 3 5.5 3h13C19.881 3 21 4.119 21 5.5v13c0 1.381-1.119 2.5-2.5 2.5h-13C4.119 21 3 19.881 3 18.5v-13zM5.5 5c-.276 0-.5.224-.5.5v9.086l3-3 3 3 5-5 3 3V5.5c0-.276-.224-.5-.5-.5h-13zM19 15.414l-3-3-5 5-3-3-3 3V18.5c0 .276.224.5.5.5h13c.276 0 .5-.224.5-.5v-3.086zM9.75 7C8.784 7 8 7.784 8 8.75s.784 1.75 1.75 1.75 1.75-.784 1.75-1.75S10.716 7 9.75 7z">
            </path>
          </svg>
        </label>
        <input type="file" id="postImage" class="hidden" accept="image/jpeg,image/png"
               (change)="onFileSelected($event)"/>
      </div>
      <button mat-flat-button color="primary" type="submit">Post</button>
    </div>
    <p *ngIf="errors" class="errors">Post must contain text content or image</p>
  </form>
</div>
